# Luna OS GRUB menu
set default="0"
set timeout=15
set timeout_style=menu
insmod all_video
insmod gfxterm
insmod gzio
insmod part_gpt
insmod ext2
set gfxmode=auto
terminal_output gfxterm

menuentry "Luna OS" {
    search --no-floppy --label --set=root LUNA-OS
    linux /live/vmlinuz-6.1.0-49-rt-amd64 boot=live components quiet splash persistence user-fullname=Luna
    initrd /live/initrd.img-6.1.0-49-rt-amd64
}
menuentry "Luna OS (persistence disabled / clean session)" {
    search --no-floppy --label --set=root LUNA-OS
    linux /live/vmlinuz-6.1.0-49-rt-amd64 boot=live components quiet splash user-fullname=Luna
    initrd /live/initrd.img-6.1.0-49-rt-amd64
}
menuentry "Luna OS (safe graphics)" {
    search --no-floppy --label --set=root LUNA-OS
    linux /live/vmlinuz-6.1.0-49-rt-amd64 boot=live components quiet splash persistence nomodeset user-fullname=Luna
    initrd /live/initrd.img-6.1.0-49-rt-amd64
}
menuentry "Reboot to firmware setup (UEFI)" {
    fwsetup
}
